<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
        <div
                class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
            <div>
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                , made with <a href="javascript:void(0)" class="fw-medium">Final project</a>
            </div>
        </div>
    </div>
</footer>